.navbar{
  background: #343a40;
  color: #fff;

}
.container{
 margin-top: 2rem;
}
.clicker{
  font-size: 2rem;
}
.icon{
  font-size: 1.8rem;
}
.btn{
  padding: 1.7rem 1.8rem;
  width: 6rem;
}
.num{
  padding: 60px;
  font-size: 4rem;
}